#search-history-container, #forecast-title {
  border-top: 3px solid black;
}

.bg-green {
  background-color: rgb(62, 202, 49);
}

.bg-yellow {
  background-color: yellow;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.bg-red {
  background-color: rgb(233, 49, 36);
}

.bg-purple {
  background-color: rgb(199, 55, 243);
}

.card {
  background-color: rgb(57, 52, 68);
  color: white;
  margin: 1px;
  display: inline-block;
}







