#search-history-container, #forecast-title {
  border-top: 3px solid black;
}

.bg-green {
  background-color: rgb(50, 175, 38);
}

.bg-yellow {
  background-color: yellow;
}

.bg-orange {
  background-color: rgb(255, 145, 0);
}

.card {
  background-color: rgb(57, 52, 68);
  color: white;
  margin: 1px;
  display: inline-block;
}







